flow.json
[
    {
        "id": "f42218c1d30dee09",
        "type": "subflow",
        "name": "WS Sender - UserLED",
        "info": "",
        "category": "BlueRobotics-Navigator-WebAssistant",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "fe238dfedf05982c"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 340,
                "y": 80,
                "wires": [
                    {
                        "id": "fe238dfedf05982c",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "UserLed",
                "type": "str",
                "value": "",
                "ui": {
                    "type": "select",
                    "opts": {
                        "opts": [
                            {
                                "l": {
                                    "en-US": "Led1"
                                },
                                "v": "Led1"
                            },
                            {
                                "l": {
                                    "en-US": "Led2"
                                },
                                "v": "Led2"
                            },
                            {
                                "l": {
                                    "en-US": "Led3"
                                },
                                "v": "Led3"
                            }
                        ]
                    }
                }
            }
        ],
        "meta": {},
        "color": "#3FADB5",
        "icon": "node-red/arrow-in.svg"
    },
    {
        "id": "fe238dfedf05982c",
        "type": "template",
        "z": "f42218c1d30dee09",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "/output/userled/{   \"userled\": \"{{env.UserLed}}\",   \"value\": {{payload}} }",
        "output": "str",
        "x": 200,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "b885439509c0b06b",
        "type": "subflow",
        "name": "WS Sender - NeoPixel",
        "info": "",
        "category": "BlueRobotics-Navigator-WebAssistant",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "fa1371b65bc6fcb5"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 340,
                "y": 80,
                "wires": [
                    {
                        "id": "fa1371b65bc6fcb5",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#3FADB5",
        "icon": "node-red/arrow-in.svg"
    },
    {
        "id": "fa1371b65bc6fcb5",
        "type": "template",
        "z": "b885439509c0b06b",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "/output/neopixel/{ \"red\": {{payload.red}}, \"green\": {{payload.green}}, \"blue\": {{payload.blue}} }",
        "output": "str",
        "x": 200,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "8d1c9d2a5d211642",
        "type": "subflow",
        "name": "WS Sender - PWM Enable",
        "info": "",
        "category": "BlueRobotics-Navigator-WebAssistant",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "c5b3af4a3f725026"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 340,
                "y": 80,
                "wires": [
                    {
                        "id": "c5b3af4a3f725026",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#3FADB5",
        "icon": "node-red/arrow-in.svg"
    },
    {
        "id": "c5b3af4a3f725026",
        "type": "template",
        "z": "8d1c9d2a5d211642",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "/output/pwm/enable/{ \"enable\": {{payload}} }",
        "output": "str",
        "x": 200,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "598f246fa964724b",
        "type": "subflow",
        "name": "WS Sender - PWM Frequency",
        "info": "",
        "category": "BlueRobotics-Navigator-WebAssistant",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "520e7570257e77f4"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 380,
                "y": 80,
                "wires": [
                    {
                        "id": "520e7570257e77f4",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#3FADB5",
        "icon": "node-red/arrow-in.svg"
    },
    {
        "id": "520e7570257e77f4",
        "type": "template",
        "z": "598f246fa964724b",
        "name": "PWM - Frequency",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "/output/pwm/frequency/{ \"frequency\": {{payload}} }",
        "output": "str",
        "x": 230,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "8163cb557f9beb60",
        "type": "subflow",
        "name": "WS Sender - PWM Channel Value",
        "info": "",
        "category": "BlueRobotics-Navigator-WebAssistant",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "76ca99b844535cc0"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 340,
                "y": 80,
                "wires": [
                    {
                        "id": "76ca99b844535cc0",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "Channel",
                "type": "str",
                "value": "Ch16",
                "ui": {
                    "icon": "font-awesome/fa-list-ol",
                    "label": {
                        "en-US": "Channel"
                    },
                    "type": "select",
                    "opts": {
                        "opts": [
                            {
                                "l": {
                                    "en-US": "Ch1"
                                },
                                "v": "Ch1"
                            },
                            {
                                "l": {
                                    "en-US": "Ch2"
                                },
                                "v": "Ch2"
                            },
                            {
                                "l": {
                                    "en-US": "Ch3"
                                },
                                "v": "Ch3"
                            },
                            {
                                "l": {
                                    "en-US": "Ch4"
                                },
                                "v": "Ch4"
                            },
                            {
                                "l": {
                                    "en-US": "Ch5"
                                },
                                "v": "Ch5"
                            },
                            {
                                "l": {
                                    "en-US": "Ch6"
                                },
                                "v": "Ch6"
                            },
                            {
                                "l": {
                                    "en-US": "Ch7"
                                },
                                "v": "Ch7"
                            },
                            {
                                "l": {
                                    "en-US": "Ch8"
                                },
                                "v": "Ch8"
                            },
                            {
                                "l": {
                                    "en-US": "Ch9"
                                },
                                "v": "Ch9"
                            },
                            {
                                "l": {
                                    "en-US": "Ch10"
                                },
                                "v": "Ch10"
                            },
                            {
                                "l": {
                                    "en-US": "Ch11"
                                },
                                "v": "Ch11"
                            },
                            {
                                "l": {
                                    "en-US": "Ch12"
                                },
                                "v": "Ch12"
                            },
                            {
                                "l": {
                                    "en-US": "Ch13"
                                },
                                "v": "Ch13"
                            },
                            {
                                "l": {
                                    "en-US": "Ch14"
                                },
                                "v": "Ch14"
                            },
                            {
                                "l": {
                                    "en-US": "Ch15"
                                },
                                "v": "Ch15"
                            },
                            {
                                "l": {
                                    "en-US": "Ch16"
                                },
                                "v": "Ch16"
                            }
                        ]
                    }
                }
            }
        ],
        "meta": {},
        "color": "#3FADB5",
        "icon": "node-red/arrow-in.svg"
    },
    {
        "id": "76ca99b844535cc0",
        "type": "template",
        "z": "8163cb557f9beb60",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "/output/pwm/channel/value/{ \"channel\": \"{{env.Channel}}\", \"value\": {{payload}} }",
        "output": "str",
        "x": 200,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "d513d71ac08fa26b",
        "type": "subflow",
        "name": "WS Receiver - Outputs",
        "info": "",
        "category": "BlueRobotics-Navigator-WebAssistant",
        "in": [
            {
                "x": 60,
                "y": 560,
                "wires": [
                    {
                        "id": "057025589afa1ace"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1910,
                "y": 80,
                "wires": [
                    {
                        "id": "c6e9975959cb75fc",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1910,
                "y": 140,
                "wires": [
                    {
                        "id": "3de694eb5028c156",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1910,
                "y": 200,
                "wires": [
                    {
                        "id": "fafa581c27d664b1",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1910,
                "y": 260,
                "wires": [
                    {
                        "id": "7a2f01c4a3bc2ddb",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1910,
                "y": 320,
                "wires": [
                    {
                        "id": "27ddea93d4da5f08",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1910,
                "y": 380,
                "wires": [
                    {
                        "id": "98845ef7904f28c6",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1910,
                "y": 440,
                "wires": [
                    {
                        "id": "9997c0ae4c46e348",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1910,
                "y": 500,
                "wires": [
                    {
                        "id": "f33a7fca1c1dc757",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1910,
                "y": 560,
                "wires": [
                    {
                        "id": "ecbdb727dafe49a5",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1910,
                "y": 620,
                "wires": [
                    {
                        "id": "91e3c4f3603f3d89",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1910,
                "y": 680,
                "wires": [
                    {
                        "id": "107e2670e91eba66",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1910,
                "y": 740,
                "wires": [
                    {
                        "id": "8ec14d1dd98e93c0",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1910,
                "y": 800,
                "wires": [
                    {
                        "id": "9804e150a0b5555e",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1910,
                "y": 860,
                "wires": [
                    {
                        "id": "7ae537982430c3ad",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1910,
                "y": 920,
                "wires": [
                    {
                        "id": "31214858ed5b1b02",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1910,
                "y": 980,
                "wires": [
                    {
                        "id": "dcebd2320df8f86f",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1920,
                "y": 1040,
                "wires": [
                    {
                        "id": "decec030bfc0556e",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1930,
                "y": 1100,
                "wires": [
                    {
                        "id": "51ab4aacd4a8ba80",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1930,
                "y": 1220,
                "wires": [
                    {
                        "id": "a8bdba04f775afab",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1930,
                "y": 1260,
                "wires": [
                    {
                        "id": "06b697341d2e58ef",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1930,
                "y": 1300,
                "wires": [
                    {
                        "id": "e5dc13063a68c1c7",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1780,
                "y": 1400,
                "wires": [
                    {
                        "id": "307124ff6453ef19",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1790,
                "y": 1440,
                "wires": [
                    {
                        "id": "fa1b2f4ef4d5cbcf",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1780,
                "y": 1480,
                "wires": [
                    {
                        "id": "23b51b1244e620ed",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#C7E9C0",
        "inputLabels": [
            "WebSocket Broadcast Input"
        ],
        "outputLabels": [
            "PWM - Ch1",
            "PWM - Ch2",
            "PWM - Ch3",
            "PWM - Ch4",
            "PWM - Ch5",
            "PWM - Ch6",
            "PWM - Ch7",
            "PWM - Ch8",
            "PWM - Ch9",
            "PWM - Ch10",
            "PWM - Ch11",
            "PWM - Ch12",
            "PWM - Ch13",
            "PWM - Ch14",
            "PWM - Ch15",
            "PWM - Ch16",
            "PWM - Enable",
            "PWM - Frequency",
            "UserLED - LED 1 - Green",
            "UserLED - LED 2 - Blue",
            "UserLED - LED 3 - Red",
            "NeoPIxel - Red",
            "NeoPIxel - Green",
            "NeoPIxel - Blue"
        ]
    },
    {
        "id": "ed18b53f2b9fa587",
        "type": "switch",
        "z": "d513d71ac08fa26b",
        "name": "Output",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "output",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 560,
        "wires": [
            [
                "e5dcaf36e80d0503"
            ]
        ]
    },
    {
        "id": "057025589afa1ace",
        "type": "json",
        "z": "d513d71ac08fa26b",
        "name": "Convert",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 200,
        "y": 560,
        "wires": [
            [
                "ed18b53f2b9fa587"
            ]
        ]
    },
    {
        "id": "e5dcaf36e80d0503",
        "type": "function",
        "z": "d513d71ac08fa26b",
        "name": "Output Devices",
        "func": "function extractField(data, fieldName) {\n    var extracted = {}\n\n    data.output.forEach(outputObj => {\n            // Check if the object has the specified field\n            if (outputObj[fieldName]) {\n                //extracted = RED.util.cloneMessage(msg);\n                extracted.payload = outputObj[fieldName];\n                extracted.topic = fieldName\n                return;\n            }\n            extracted = null\n        });\n    \n    return extracted;\n}\n\nlet pwm = extractField(msg.payload, \"PWM\")\nlet userled = extractField(msg.payload, \"UserLED\")\nlet neopixel = extractField(msg.payload, \"NeoPixel\")\n\nreturn [pwm, userled, neopixel];\n\n\n",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 740,
        "wires": [
            [
                "3738dbfa777db4ec",
                "f3460e76e99b938f",
                "8a7230d76ea030ac",
                "6b164844f15718ba",
                "f84aba14f698554d",
                "060dfd89ea2155b2",
                "6a68136746a15f96",
                "a0efb05a9c92f83e",
                "ce4610a453235d6f",
                "d8a5be0a74684299",
                "62e74383684d4df2",
                "2a80a170257966d3",
                "11afda0b85db977e",
                "0a3b5c8e79785058",
                "aa86fcd3277a1133",
                "77304c493869a437",
                "f8e8d93184941a80",
                "b41995957cdbff67"
            ],
            [
                "373f3e255d124ae2",
                "219c17998b5a3ea8",
                "1a2b9edf78c73352"
            ],
            [
                "23b51b1244e620ed",
                "fa1b2f4ef4d5cbcf",
                "307124ff6453ef19"
            ]
        ],
        "outputLabels": [
            "PWM",
            "UserLED",
            "Neopixel"
        ]
    },
    {
        "id": "640b302ba572003f",
        "type": "comment",
        "z": "d513d71ac08fa26b",
        "name": "Outputs feedback",
        "info": "",
        "x": 660,
        "y": 680,
        "wires": []
    },
    {
        "id": "373f3e255d124ae2",
        "type": "switch",
        "z": "d513d71ac08fa26b",
        "name": "Led1",
        "property": "payload.channel[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Led1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1510,
        "y": 1220,
        "wires": [
            [
                "a8bdba04f775afab"
            ]
        ]
    },
    {
        "id": "219c17998b5a3ea8",
        "type": "switch",
        "z": "d513d71ac08fa26b",
        "name": "Led2",
        "property": "payload.channel[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Led2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1510,
        "y": 1260,
        "wires": [
            [
                "06b697341d2e58ef"
            ]
        ]
    },
    {
        "id": "1a2b9edf78c73352",
        "type": "switch",
        "z": "d513d71ac08fa26b",
        "name": "Led3",
        "property": "payload.channel[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Led3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1510,
        "y": 1300,
        "wires": [
            [
                "e5dc13063a68c1c7"
            ]
        ]
    },
    {
        "id": "a8bdba04f775afab",
        "type": "change",
        "z": "d513d71ac08fa26b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value[0]",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1680,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "06b697341d2e58ef",
        "type": "change",
        "z": "d513d71ac08fa26b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value[0]",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1680,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "e5dc13063a68c1c7",
        "type": "change",
        "z": "d513d71ac08fa26b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value[0]",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1680,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "a6149631f88ce3bf",
        "type": "comment",
        "z": "d513d71ac08fa26b",
        "name": "Linked Connetions - Update UserLED status",
        "info": "",
        "x": 1650,
        "y": 1180,
        "wires": []
    },
    {
        "id": "3738dbfa777db4ec",
        "type": "switch",
        "z": "d513d71ac08fa26b",
        "name": "Ch1",
        "property": "payload.channel[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Ch1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1510,
        "y": 80,
        "wires": [
            [
                "c6e9975959cb75fc"
            ]
        ]
    },
    {
        "id": "c6e9975959cb75fc",
        "type": "change",
        "z": "d513d71ac08fa26b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value[0]",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "f3460e76e99b938f",
        "type": "switch",
        "z": "d513d71ac08fa26b",
        "name": "Ch2",
        "property": "payload.channel[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Ch2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1510,
        "y": 140,
        "wires": [
            [
                "3de694eb5028c156"
            ]
        ]
    },
    {
        "id": "3de694eb5028c156",
        "type": "change",
        "z": "d513d71ac08fa26b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value[0]",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "8a7230d76ea030ac",
        "type": "switch",
        "z": "d513d71ac08fa26b",
        "name": "Ch3",
        "property": "payload.channel[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Ch3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1510,
        "y": 200,
        "wires": [
            [
                "fafa581c27d664b1"
            ]
        ]
    },
    {
        "id": "fafa581c27d664b1",
        "type": "change",
        "z": "d513d71ac08fa26b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value[0]",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "6b164844f15718ba",
        "type": "switch",
        "z": "d513d71ac08fa26b",
        "name": "Ch4",
        "property": "payload.channel[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Ch4",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1510,
        "y": 260,
        "wires": [
            [
                "7a2f01c4a3bc2ddb"
            ]
        ]
    },
    {
        "id": "7a2f01c4a3bc2ddb",
        "type": "change",
        "z": "d513d71ac08fa26b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value[0]",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "f84aba14f698554d",
        "type": "switch",
        "z": "d513d71ac08fa26b",
        "name": "Ch5",
        "property": "payload.channel[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Ch5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1510,
        "y": 320,
        "wires": [
            [
                "27ddea93d4da5f08"
            ]
        ]
    },
    {
        "id": "27ddea93d4da5f08",
        "type": "change",
        "z": "d513d71ac08fa26b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value[0]",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "060dfd89ea2155b2",
        "type": "switch",
        "z": "d513d71ac08fa26b",
        "name": "Ch6",
        "property": "payload.channel[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Ch6",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1510,
        "y": 380,
        "wires": [
            [
                "98845ef7904f28c6"
            ]
        ]
    },
    {
        "id": "98845ef7904f28c6",
        "type": "change",
        "z": "d513d71ac08fa26b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value[0]",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "6a68136746a15f96",
        "type": "switch",
        "z": "d513d71ac08fa26b",
        "name": "Ch7",
        "property": "payload.channel[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Ch7",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1510,
        "y": 440,
        "wires": [
            [
                "9997c0ae4c46e348"
            ]
        ]
    },
    {
        "id": "9997c0ae4c46e348",
        "type": "change",
        "z": "d513d71ac08fa26b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value[0]",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "a0efb05a9c92f83e",
        "type": "switch",
        "z": "d513d71ac08fa26b",
        "name": "Ch8",
        "property": "payload.channel[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Ch8",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1510,
        "y": 500,
        "wires": [
            [
                "f33a7fca1c1dc757"
            ]
        ]
    },
    {
        "id": "f33a7fca1c1dc757",
        "type": "change",
        "z": "d513d71ac08fa26b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value[0]",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "ce4610a453235d6f",
        "type": "switch",
        "z": "d513d71ac08fa26b",
        "name": "Ch9",
        "property": "payload.channel[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Ch9",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1510,
        "y": 560,
        "wires": [
            [
                "ecbdb727dafe49a5"
            ]
        ]
    },
    {
        "id": "ecbdb727dafe49a5",
        "type": "change",
        "z": "d513d71ac08fa26b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value[0]",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "d8a5be0a74684299",
        "type": "switch",
        "z": "d513d71ac08fa26b",
        "name": "Ch10",
        "property": "payload.channel[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Ch10",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1510,
        "y": 620,
        "wires": [
            [
                "91e3c4f3603f3d89"
            ]
        ]
    },
    {
        "id": "91e3c4f3603f3d89",
        "type": "change",
        "z": "d513d71ac08fa26b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value[0]",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "62e74383684d4df2",
        "type": "switch",
        "z": "d513d71ac08fa26b",
        "name": "Ch11",
        "property": "payload.channel[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Ch11",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1510,
        "y": 680,
        "wires": [
            [
                "107e2670e91eba66"
            ]
        ]
    },
    {
        "id": "107e2670e91eba66",
        "type": "change",
        "z": "d513d71ac08fa26b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value[0]",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "2a80a170257966d3",
        "type": "switch",
        "z": "d513d71ac08fa26b",
        "name": "Ch12",
        "property": "payload.channel[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Ch12",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1510,
        "y": 740,
        "wires": [
            [
                "8ec14d1dd98e93c0"
            ]
        ]
    },
    {
        "id": "8ec14d1dd98e93c0",
        "type": "change",
        "z": "d513d71ac08fa26b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value[0]",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "11afda0b85db977e",
        "type": "switch",
        "z": "d513d71ac08fa26b",
        "name": "Ch13",
        "property": "payload.channel[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Ch13",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1510,
        "y": 800,
        "wires": [
            [
                "9804e150a0b5555e"
            ]
        ]
    },
    {
        "id": "9804e150a0b5555e",
        "type": "change",
        "z": "d513d71ac08fa26b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value[0]",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "0a3b5c8e79785058",
        "type": "switch",
        "z": "d513d71ac08fa26b",
        "name": "Ch14",
        "property": "payload.channel[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Ch14",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1510,
        "y": 860,
        "wires": [
            [
                "7ae537982430c3ad"
            ]
        ]
    },
    {
        "id": "7ae537982430c3ad",
        "type": "change",
        "z": "d513d71ac08fa26b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value[0]",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "aa86fcd3277a1133",
        "type": "switch",
        "z": "d513d71ac08fa26b",
        "name": "Ch15",
        "property": "payload.channel[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Ch15",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1510,
        "y": 920,
        "wires": [
            [
                "31214858ed5b1b02"
            ]
        ]
    },
    {
        "id": "31214858ed5b1b02",
        "type": "change",
        "z": "d513d71ac08fa26b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value[0]",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "77304c493869a437",
        "type": "switch",
        "z": "d513d71ac08fa26b",
        "name": "Ch16",
        "property": "payload.channel[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Ch16",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1510,
        "y": 980,
        "wires": [
            [
                "dcebd2320df8f86f"
            ]
        ]
    },
    {
        "id": "dcebd2320df8f86f",
        "type": "change",
        "z": "d513d71ac08fa26b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value[0]",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "f8e8d93184941a80",
        "type": "switch",
        "z": "d513d71ac08fa26b",
        "name": "Frequency",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "frequency",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1530,
        "y": 1040,
        "wires": [
            [
                "decec030bfc0556e"
            ]
        ]
    },
    {
        "id": "decec030bfc0556e",
        "type": "change",
        "z": "d513d71ac08fa26b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.frequency",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "b41995957cdbff67",
        "type": "switch",
        "z": "d513d71ac08fa26b",
        "name": "Enable",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "enable",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1520,
        "y": 1100,
        "wires": [
            [
                "51ab4aacd4a8ba80"
            ]
        ]
    },
    {
        "id": "51ab4aacd4a8ba80",
        "type": "change",
        "z": "d513d71ac08fa26b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.enable",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "23b51b1244e620ed",
        "type": "change",
        "z": "d513d71ac08fa26b",
        "name": "Blue",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value[0].blue",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1590,
        "y": 1480,
        "wires": [
            []
        ]
    },
    {
        "id": "c58b3f4e60f459c4",
        "type": "comment",
        "z": "d513d71ac08fa26b",
        "name": "Linked Connetions - Update NeoPixel status",
        "info": "",
        "x": 1650,
        "y": 1360,
        "wires": []
    },
    {
        "id": "307124ff6453ef19",
        "type": "change",
        "z": "d513d71ac08fa26b",
        "name": "Red",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value[0].red",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1590,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "fa1b2f4ef4d5cbcf",
        "type": "change",
        "z": "d513d71ac08fa26b",
        "name": "Green",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value[0].green",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1590,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "4efd70ced22364d9",
        "type": "subflow",
        "name": "WS Receiver - Inputs",
        "info": "",
        "category": "BlueRobotics-Navigator-WebAssistant",
        "in": [
            {
                "x": 40,
                "y": 140,
                "wires": [
                    {
                        "id": "cf616871a6dd0837"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1220,
                "y": 80,
                "wires": [
                    {
                        "id": "f5efbe72a2ad6c7b",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1220,
                "y": 80,
                "wires": [
                    {
                        "id": "f5efbe72a2ad6c7b",
                        "port": 1
                    }
                ]
            },
            {
                "x": 1220,
                "y": 80,
                "wires": [
                    {
                        "id": "f5efbe72a2ad6c7b",
                        "port": 2
                    }
                ]
            },
            {
                "x": 950,
                "y": 20,
                "wires": [
                    {
                        "id": "f5b649205da85746",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1000,
                "y": 40,
                "wires": [
                    {
                        "id": "f5b649205da85746",
                        "port": 1
                    }
                ]
            },
            {
                "x": 1220,
                "y": 140,
                "wires": [
                    {
                        "id": "0419e0637e51691d",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1220,
                "y": 140,
                "wires": [
                    {
                        "id": "0419e0637e51691d",
                        "port": 1
                    }
                ]
            },
            {
                "x": 1220,
                "y": 140,
                "wires": [
                    {
                        "id": "0419e0637e51691d",
                        "port": 2
                    }
                ]
            },
            {
                "x": 1230,
                "y": 200,
                "wires": [
                    {
                        "id": "c2aeb4a41a6d0937",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1230,
                "y": 200,
                "wires": [
                    {
                        "id": "c2aeb4a41a6d0937",
                        "port": 1
                    }
                ]
            },
            {
                "x": 1230,
                "y": 200,
                "wires": [
                    {
                        "id": "c2aeb4a41a6d0937",
                        "port": 2
                    }
                ]
            },
            {
                "x": 1210,
                "y": 300,
                "wires": [
                    {
                        "id": "4f8ac12b6bb92d8a",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1210,
                "y": 300,
                "wires": [
                    {
                        "id": "4f8ac12b6bb92d8a",
                        "port": 1
                    }
                ]
            },
            {
                "x": 1210,
                "y": 300,
                "wires": [
                    {
                        "id": "4f8ac12b6bb92d8a",
                        "port": 2
                    }
                ]
            },
            {
                "x": 1210,
                "y": 300,
                "wires": [
                    {
                        "id": "4f8ac12b6bb92d8a",
                        "port": 3
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "rate",
                "type": "num",
                "value": "1000",
                "ui": {
                    "icon": "font-awesome/fa-history",
                    "label": {
                        "en-US": "Sampling (ms)"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "num"
                        ]
                    }
                }
            }
        ],
        "meta": {
            "module": "node-red-contrib-navigator-webassistant",
            "type": "navigator-bluerobotics",
            "version": "0.0.0",
            "author": "raulvtrombin@gmail.com",
            "desc": "navigator blocks",
            "keywords": "robotics, stem, rov",
            "license": "MIT"
        },
        "color": "#C7E9C0",
        "inputLabels": [
            "WebSocket Broadcast Input"
        ],
        "outputLabels": [
            "Acceleration - X",
            "Acceleration - Y",
            "Acceleration - Z",
            "Temperature",
            "Pressure",
            "Gyroscope - X",
            "Gyroscope - Y",
            "Gyroscope - Z",
            "Magnetometer - X",
            "Magnetometer - Y",
            "Magnetometer - Z",
            "ADC - Ch1",
            "ADC - Ch2",
            "ADC - Ch3",
            "ADC - Ch4"
        ],
        "icon": "font-awesome/fa-thermometer-empty"
    },
    {
        "id": "389257e569961cc2",
        "type": "json",
        "z": "4efd70ced22364d9",
        "name": "Convert",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 200,
        "y": 140,
        "wires": [
            [
                "57dad1d0998ead07"
            ]
        ]
    },
    {
        "id": "57dad1d0998ead07",
        "type": "switch",
        "z": "4efd70ced22364d9",
        "name": "Input",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "input",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 350,
        "y": 140,
        "wires": [
            [
                "9e1778366c4d628a"
            ]
        ]
    },
    {
        "id": "f5b649205da85746",
        "type": "function",
        "z": "4efd70ced22364d9",
        "name": "Input Devices",
        "func": "function extractField(data, fieldName) {\n    var extracted = null\n\n    data.input.forEach(Obj => {\n            // Check if the object has the specified field\n        if (Obj.type === fieldName) {\n                extracted = RED.util.cloneMessage(msg);\n                extracted.payload = Obj.value;\n                extracted.topic = fieldName\n                return;\n            }\n        });\n    \n    return extracted;\n}\n\nlet temperature = extractField(msg.payload, \"Temperature\");\nlet pressure = extractField(msg.payload, \"Pressure\");\nlet accelerometer = extractField(msg.payload, \"Accelerometer\");\nlet gyroscope = extractField(msg.payload, \"Gyroscope\");\nlet magnetometer = extractField(msg.payload, \"Magnetometer\");\nlet adc = extractField(msg.payload, \"Adc\");\n\nreturn [temperature, pressure, accelerometer, gyroscope, magnetometer, adc];",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 140,
        "wires": [
            [],
            [],
            [
                "f5efbe72a2ad6c7b"
            ],
            [
                "0419e0637e51691d"
            ],
            [
                "c2aeb4a41a6d0937"
            ],
            [
                "4f8ac12b6bb92d8a"
            ]
        ],
        "outputLabels": [
            "Temperature",
            "Pressure",
            "Accelerometer",
            "Gyroscope",
            "Magnetometer",
            "Adc"
        ]
    },
    {
        "id": "9e1778366c4d628a",
        "type": "delay",
        "z": "4efd70ced22364d9",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": true,
        "outputs": 1,
        "x": 530,
        "y": 140,
        "wires": [
            [
                "f5b649205da85746"
            ]
        ]
    },
    {
        "id": "f8afead5210b3646",
        "type": "comment",
        "z": "4efd70ced22364d9",
        "name": "Reduce the processing load",
        "info": "",
        "x": 540,
        "y": 100,
        "wires": []
    },
    {
        "id": "b8a846efb375d733",
        "type": "comment",
        "z": "4efd70ced22364d9",
        "name": "Sensor readings",
        "info": "",
        "x": 740,
        "y": 80,
        "wires": []
    },
    {
        "id": "f5efbe72a2ad6c7b",
        "type": "function",
        "z": "4efd70ced22364d9",
        "name": "3 Axes",
        "func": "let msg_x = {}\nlet msg_y = {}\nlet msg_z = {}\n\nmsg_x.payload = msg.payload[0]\nmsg_x.topic = msg.topic + \"- X axis\"\n\nmsg_y.payload = msg.payload[1]\nmsg_y.topic = msg.topic + \"- Y axis\"\n\nmsg_z.payload = msg.payload[2]\nmsg_z.topic = msg.topic + \"- Z axis\"\n\nreturn [msg_x, msg_y, msg_z];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 80,
        "wires": [
            [],
            [],
            []
        ],
        "inputLabels": [
            "Array"
        ],
        "outputLabels": [
            "X",
            "Y",
            "Z"
        ],
        "icon": "font-awesome/fa-sitemap"
    },
    {
        "id": "0419e0637e51691d",
        "type": "function",
        "z": "4efd70ced22364d9",
        "name": "3 Axes",
        "func": "let msg_x = {}\nlet msg_y = {}\nlet msg_z = {}\n\nmsg_x.payload = msg.payload[0]\nmsg_x.topic = msg.topic + \"- X axis\"\n\nmsg_y.payload = msg.payload[1]\nmsg_y.topic = msg.topic + \"- Y axis\"\n\nmsg_z.payload = msg.payload[2]\nmsg_z.topic = msg.topic + \"- Z axis\"\n\nreturn [msg_x, msg_y, msg_z];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 140,
        "wires": [
            [],
            [],
            []
        ],
        "inputLabels": [
            "Array"
        ],
        "outputLabels": [
            "X",
            "Y",
            "Z"
        ],
        "icon": "font-awesome/fa-sitemap"
    },
    {
        "id": "c2aeb4a41a6d0937",
        "type": "function",
        "z": "4efd70ced22364d9",
        "name": "3 Axes",
        "func": "let msg_x = {}\nlet msg_y = {}\nlet msg_z = {}\n\nmsg_x.payload = msg.payload[0]\nmsg_x.topic = msg.topic + \"- X axis\"\n\nmsg_y.payload = msg.payload[1]\nmsg_y.topic = msg.topic + \"- Y axis\"\n\nmsg_z.payload = msg.payload[2]\nmsg_z.topic = msg.topic + \"- Z axis\"\n\nreturn [msg_x, msg_y, msg_z];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 200,
        "wires": [
            [],
            [],
            []
        ],
        "inputLabels": [
            "Array"
        ],
        "outputLabels": [
            "X",
            "Y",
            "Z"
        ],
        "icon": "font-awesome/fa-sitemap"
    },
    {
        "id": "4f8ac12b6bb92d8a",
        "type": "function",
        "z": "4efd70ced22364d9",
        "name": "4 Axes",
        "func": "let msg_ch0 = {}\nlet msg_ch1 = {}\nlet msg_ch2 = {}\nlet msg_ch3 = {}\n\nmsg_ch0.payload = msg.payload[0]\nmsg_ch0.topic = msg.topic + \"- Ch 0\"\n\nmsg_ch1.payload = msg.payload[1]\nmsg_ch1.topic = msg.topic + \"- Ch 1\"\n\nmsg_ch2.payload = msg.payload[2]\nmsg_ch2.topic = msg.topic + \"- Ch 2\"\n\nmsg_ch3.payload = msg.payload[3]\nmsg_ch3.topic = msg.topic + \"- Ch 3\"\n\nreturn [msg_ch0, msg_ch1, msg_ch2, msg_ch3];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 300,
        "wires": [
            [],
            [],
            [],
            []
        ],
        "inputLabels": [
            "Array"
        ],
        "outputLabels": [
            "Ch1",
            "Ch2",
            "Ch3",
            "Ch4"
        ],
        "icon": "font-awesome/fa-sitemap"
    },
    {
        "id": "cf616871a6dd0837",
        "type": "change",
        "z": "4efd70ced22364d9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "rate",
                "pt": "msg",
                "to": "rate",
                "tot": "env",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 210,
        "y": 180,
        "wires": [
            [
                "389257e569961cc2"
            ]
        ]
    },
    {
        "id": "b672e702ab054b3b",
        "type": "subflow:4efd70ced22364d9",
        "z": "afcee9470c79bd9b",
        "name": "",
        "x": 500,
        "y": 400,
        "wires": [
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "790ae87ef7bafe18",
        "type": "subflow:d513d71ac08fa26b",
        "z": "afcee9470c79bd9b",
        "name": "",
        "x": 500,
        "y": 700,
        "wires": [
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "dd7e7af47bb02b4c",
        "type": "subflow:8163cb557f9beb60",
        "z": "afcee9470c79bd9b",
        "name": "",
        "x": 480,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "e7a4ba22294861c6",
        "type": "subflow:598f246fa964724b",
        "z": "afcee9470c79bd9b",
        "name": "",
        "x": 490,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "8a62834606bb605d",
        "type": "subflow:8d1c9d2a5d211642",
        "z": "afcee9470c79bd9b",
        "name": "",
        "x": 500,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "57692488d2588d82",
        "type": "subflow:b885439509c0b06b",
        "z": "afcee9470c79bd9b",
        "name": "",
        "x": 520,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "e4e7fc7796ac6392",
        "type": "subflow:f42218c1d30dee09",
        "z": "afcee9470c79bd9b",
        "name": "",
        "x": 520,
        "y": 1260,
        "wires": [
            []
        ]
    }
]
